  .display{
    background-color: burlywood;
    padding: 15px;

  }
h2{
  text-align: center;
  font-style: italic;
  color:black;
  font-weight: bold;
  text-decoration: underline;
}
h3{
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  padding: 2px;
  text-decoration: underline;
}
p{
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  padding: 8px;
}

.toggleStatus{
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.toggleStatus:hover{
  color: blue;
}
